body
{
    background-image: url(RECURSOS/fondo15.jpg);background-size: 100% 100%;
}
.b1
{
    width: 100%; height: 100px;position: fixed;z-index: 100px;
    text-align: center;margin-top: -170px; border: 0px solid salmon;    
}
.b2
{
    height: 100%; border: 0px solid red;
}
.b1>.b2>a
{
    background-image: url(RECURSOS/fondo19.jpg);background-size:contain;
     display: inline-block; padding: 40px 180px;border: 0px solid blue; 
     border-radius: 50px;font-family: fantasy; color: black;margin: 10px;
    
}
.b1>.b2>a:hover
{
    background-image: url(RECURSOS/fondo17.jpg);background-size:contain;
    transform: translate(0px, -10px);transition: 0.4s; font-size: 25px;
}
.b3
{  
    margin-top: 200px;font-size: 20px; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0px solid blue;background-image: url(RECURSOS/fondo18.jpg);
    background-size:contain;border-radius: 30px; width: 55%; height: 600px;
    text-align: center; 
}
.b3>.p1{
    margin: 50px;
}
@keyframes f1 
{    
    0%  {background-image: url(RECURSOS/imagen1.jpg);background-size:100% 100%;}
    25% {background-image: url(RECURSOS/imagen2.jpg) ;background-size:100% 100%;}
    50% {background-image: url(RECURSOS/imagen3.jpg);background-size: 100% 100%; }
    75% {background-image: url(RECURSOS/IMAGEN4.jpg);background-size: 100% 100%;}
    100% {background-image: url(RECURSOS/imagen5.jpg);background-size: 100% 100%;}
}
.b4
{
    animation: f1 10s;animation-iteration-count: infinite;
    margin-left: 900PX ;margin-top: -500px;border-radius: 30px;
    border: 0px solid burlywood;background-image: url(RECURSOS/fondo7.jpg); 
    width: 35%; height: 400px;
}
footer{
    border: 0px solid rebeccapurple;font-size: 25px;margin-top: 25px;
    background-image: url(RECURSOS/fondo24.jpg);background-size: contain; margin-top: 100px; text-align: center;
    height: 180px;
}
footer>p{
    margin: 20px; font-family: sans-serif;
}
footer>.b5{
    border: 0px solid red;width: 200px; height: 100px;
    background-image: url(RECURSOS/facebook.png); background-size: 100% 100%;
    display:inline-block; border-radius: 50px; margin: 10px;
}
footer>.b6{
    border: 0px solid red;width: 200px; height: 100px;
    background-image: url(RECURSOS/instragram.jpg); background-size: contain;
    display:inline-block;border-radius: 50px;margin:  10px;
}
footer>.b7{
    border: 0px solid red;width: 200px; height: 100px;
    background-image: url(RECURSOS/twiter.jpg); background-size: contain;
    display:inline-block;border-radius: 50px; margin: 10px;
}
footer>.b8{
    border: 0px solid red;width: 200px; height: 100px;
    background-image: url(RECURSOS/youtube.jpg); background-size: contain;
    display:inline-block;border-radius: 50px;margin: 10px;
}
    






 